$TTL    86400
@       IN      SOA     ns1.{{ dns_domain }}. root.{{ dns_domain }}. (
                              2         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@       IN      NS      {{ dns_domain }}.
@       IN      A       {{ dns_ip }}
ns1     IN      A       {{ dns_ip }}
